.User-Form {
  background-color: black;
  color: lightgrey;
  padding: 20px;
  width: 40vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-basis: 40%;
  box-sizing: border-box;
  /* margin: 0 auto; */
}
.User-Form h1 {
  flex-basis: 80%;
}
.User-Form input[type="text"],
.User-Form input[type="email"],
.User-Form input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: lightgrey;
  border: 1px solid lightgrey;
}
.User-Form input[type="select"]::placeholder,
.User-Form input[type="date"] .User-Form input[type="password"]::placeholder {
  color: black;
}
.User-Form button {
  background-color: lightgrey;
  color: black;
  padding: 10px 20px;
  margin: 10%;
  border: none;
  cursor: pointer;
}

.User-Form a {
  color: lightgrey;
  text-decoration: none;
}

.User-Form a:hover {
  text-decoration: underline;
}
.User-Form-info {
  flex-basis: 100%;
  text-align: center;
  padding: 5%;
}
.User-Form span {
  width: 90%;
}
