.UserDeatil {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.UserDeatil span {
  flex-basis: 100%;
  padding: 1%;
}
.UserDetailButtons {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.UserDetailButtons button {
  padding: 1%;
  background-color: white;
  margin: 2%;
}
.UserDetailButtons button:hover {
  background-color: #ff9494;
}
