.RegisterForm {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.RegisterForm span {
  flex-basis: 80%;
}
.RegisterForm span strong {
  display: block;
  width: 100%;
}
.RegisterForm span input {
  width: 90%;
}
